.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#banner {
  width: 100%;
  height: 50px;
}

/* 
  #23578C // base
  #003366 // main
  #5985B2 // accent
*/

#header {
  background-color: #003366 !important;
}

#header h1 {
  color: white;
  font-weight: bolder;
}

#header h2 {
  color: white;
  font-weight: bold;
}

h1, h2, h3 {
  color: #23578C;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.count {
  display: block;
  margin: auto;
  background-color: #5985B2;
  color: white;
  width: 300px;
  padding: 20px;
}